---
layout: page
title: About
subtitle: Recording Changes.
permalink: /about/
---

<h2>About this Blog</h2>
<p>记录成长。</p>
	<p><ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> Rss</a></li>
		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li>
	</ul></p>

<h2>About me</h2>

</p>努力探索大脑黑箱的研究僧。 </p>

</p>探究过奖赏、情绪加工的初级选手，未来会研究工作记忆～</p>

</p>虽然懂的不多，但是热爱学习和探索的。。。</p>

</p>喜欢唠嗑和脱口秀的喜剧人。</p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
