<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            EEG/ERP
        </div>
        <div class="progress">
            <span class="yellow" style="width: 60%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            NIRS
        </div>
        <div class="progress">
            <span class="green" style="width: 30%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Cognitive Neuroscience
        </div>
        <div class="progress">
            <span class="blue" style="width: 82%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Matlab
        </div>
        <div class="progress">
            <span class="red" style="width: 50%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Git
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 10%;"></span>
        </div>
    </div>
</section>
